<div *ngIf="attempt == null" class="container" style="padding-top: 10%;">
  <div class="row">
    <select [(ngModel)]="branch" id="branch" class="custom-select custom-select-lg mb-3">
      <option selected hidden>Select the subject</option>
      <option value="css">CSS</option>
      <option value="html">HTML</option>
      <option value="laravel">Laravel</option>
      <option value="flutter">Flutter</option>
      <option value="django">Django</option>
      <option value="python">Python</option>
      <option value="js">JavaScript</option>
      <option value="angular">Angular</option>
      <option value="scala">Scala</option>
      <option value="java">Java</option>
    </select>
  </div>
  <div class="row">
    <select [(ngModel)]="difficultLevel" id="difficultLevel" class="custom-select custom-select-sm">
      <option selected hidden>Select the difficult level</option>
      <option value="LOW">Low</option>
      <option value="MEDIUM">Medium</option>
      <option value="HIGH">High</option>
    </select>
  </div>
  <div class="col text-center" style="padding-top: 10px;">
    <button class="btn btn-primary" (click)="createTests()">Create</button>
  </div>
</div>
<div *ngIf="attempt != null && attempt.tests.length > 0" class="container">
  <div style="padding-top:10px">
    <div *ngIf="currentTest.type == testTypes.ONE_CORRECT_ANSWER">
      <p>{{currentTestIndex + 1}}. {{currentTest.question}}</p>
      <div *ngFor="let one of currentTest.answers" class="custom-control custom-radio">
        <input type="radio"
               class="custom-control-input"
               id="{{one.id}}"
               name="defaultExampleRadios"
               (click)="changeAnswer(one.id);">
        <label [ngStyle]="{'color':
               (!needCheck && one.id == correctAnswerId) ? 'green' :
               (!needCheck && !isCorrect && one.id == answerId) ? 'red' : 'black'}"
               class="custom-control-label"
               for="{{one.id}}">{{one.answer}}</label>
      </div>
      <div class="col text-center" *ngIf="needCheck">
        <button class="btn btn-primary" (click)="checkOneAnswer(currentTest.id)">Check</button>
      </div>
    </div>
    <div *ngIf="currentTest.type == testTypes.SEVERAL_CORRECT_ANSWER">
      <p>{{currentTestIndex + 1}}. {{currentTest.question}}</p>
      <div *ngFor="let several of currentTest.answers" class="custom-control custom-checkbox">
        <input type="checkbox"
               (click)="addOrRemoveAnswer(several.id)"
               class="custom-control-input"
               id="{{several.answer}}">
        <label [ngStyle]="{'color':
               (!needCheck && correctAnswerIds.includes(several.id)) ? 'green' :
               (!needCheck && !correctAnswerIds.includes(several.id) && answerIds.includes(several.id)) ? 'red' : 'black'}"
               class="custom-control-label"
               for="{{several.answer}}">{{several.answer}}</label>
      </div>
      <div class="col text-center" *ngIf="needCheck">
        <button class="btn btn-primary" (click)="checkSeveralAnswer(currentTest.id)">Check</button>
      </div>
    </div>
    <div class="col text-center" *ngIf="!needCheck && currentTestIndex < attempt.tests.length - 1">
      <button class="btn btn-primary" (click)="nextTest()">Next</button>
    </div>
    <div class="col text-center" *ngIf="!needCheck && currentTestIndex == attempt.tests.length - 1">
      <button class="btn btn-primary" (click)="nextTest()">Finish</button>
    </div>
  </div>
</div>
