<div *ngIf="attempt == null" class="container mt-4">
  <div class="row" *ngFor="let item of branches">
    <div class="col-12">
      <div class="test-item mb-4" [title]="item.caption" [class.bg]="!item.image">
        <span class="title">{{item.caption}}</span>
        <img *ngIf="item.image" [src]="item.image"  [alt]="'Course logo for ' + item.caption">
        <span class="label" *ngIf="!item.image">{{item.caption}}</span>
        <div class="btns">
          <button class="btn" (click)="createTests(item, 'LOW')">EASY</button>
          <button class="btn" (click)="createTests(item, 'MEDIUM')">MEDIUM</button>
          <button class="btn" (click)="createTests(item, 'HIGH')">HIGH</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="attempt != null && attempt.tests.length > 0 && attemptResult == null" class="container pt-3">

  <mat-progress-bar class="mb-3" mode="determinate" [value]="currentTestIndex / attempt.tests.length * 100"></mat-progress-bar>

    <h2 class="row justify-content-center question mb-5">
      <span>{{currentTestIndex + 1}}. {{normalizeText(currentTest.question)}}</span>
      <code *ngIf="currentTest.codeInQuestion" class="code justify-content-center ">{{currentTest.codeInQuestion}}</code>
    </h2>


    <div *ngIf="currentTest.type == testTypes.ONE_CORRECT_ANSWER">
      <mat-radio-group class="row justify-content-center" [class.blocked]="!needCheck">
        <mat-radio-button *ngFor="let one of currentTest.answers"
                          name="defaultExampleRadios"
                          (click)="changeAnswer(one.id);"
                          value="{{one.id}}"
                          class="d-block">
          <div class="answer text-left"
               [class.wrong-answer] = '(!needCheck && !isCorrect && one.id == answerId)'
               [class.correct-answer] = '(!needCheck && one.id == correctAnswerId)'>
            {{normalizeText(one.answer)}}
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div *ngIf="currentTest.type == testTypes.SEVERAL_CORRECT_ANSWER">
      <div class="row justify-content-center" *ngFor="let several of currentTest.answers" [class.blocked]="!needCheck">
        <mat-checkbox
          (click)="addOrRemoveAnswer(several.id)"
          value="{{several.id}}">
          <div class="answer text-left"
               [class.wrong-answer] = '(!needCheck && !correctAnswerIds.includes(several.id) && answerIds.includes(several.id))'
               [class.correct-answer] = '(!needCheck && correctAnswerIds.includes(several.id))'>
            {{normalizeText(several.answer)}}
          </div>
        </mat-checkbox>
      </div>
    </div>
    <div *ngIf="currentTest.type == testTypes.MATCH">
      <div class="row justify-content-center">
        <ol>
          <li class="question row" *ngFor="let q of currentTest.matchQuestion">
            <div class="match-label">{{normalizeText(q.question)}}</div>
            <mat-form-field appearance="fill" class="col-md-3">
              <mat-label>Select the subject</mat-label>
              <mat-select (valueChange)="answerMap[q.id] = $event">
                <mat-option *ngFor="let a of currentTest.answers"
                            [value]="a.matchId">
                  {{normalizeText(a.answer)}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </li>
        </ol>
      </div>
    </div>


  <div class="col text-center" *ngIf="needCheck">
    <button mat-raised-button class="btn-custom mt-4" color="primary" (click)="checkAnswer(currentTest.id)">Check</button>
  </div>
  <div class="col text-center" *ngIf="!needCheck && currentTestIndex < attempt.tests.length - 1">
    <button mat-raised-button class="btn-custom mt-4" (click)="nextTest()">Next</button>
  </div>
  <div class="col text-center" *ngIf="!needCheck && currentTestIndex == attempt.tests.length - 1">
    <button mat-raised-button class="btn-custom mt-4" (click)="finish()">Finish</button>
  </div>
</div>



<!--<span-->
<!--  [ngStyle]="{'color' : attemptResult.isPassed ? 'green' : 'red'}">-->
<!--      {{attemptResult.correctAnswersCount}}/{{attemptResult.questionsCount}} points ({{attemptResult.percent}}%)-->
<!--    </span>-->

<div *ngIf="attemptResult != null" class="container pt-4 results">
  <div class="row">
    <div class="col-12 justify-content-start title mb-3">
      Your result
    </div>
  </div>
  <div class="row score mb-5" [class.failed]="!attemptResult.passed">
    <div class="col-3 d-flex flex-column align-items-center justify-content-center">
      <div class="value mb-2">{{attemptResult.questionsCount}}</div>
      <div class="label">Questions</div>
    </div>
    <div class="col-3 d-flex flex-column align-items-center justify-content-center">
      <div class="value mb-2">{{attemptResult.correctAnswersCount}} ({{attemptResult.percent}}%)</div>
      <div class="label">Correct answers</div>
    </div>
    <div class="col-3 d-flex flex-column align-items-center justify-content-center">
      <div class="value mb-2">{{attemptResult.grade}}</div>
      <div class="label">Grade</div>
    </div>
    <div class="col-3 d-flex flex-column align-items-center justify-content-center">
      <div class="value mb-2">{{attemptResult.passed ? 'PASSED' : 'FAILED'}}</div>
      <div class="label">Status</div>
    </div>
  </div>

  <h2 *ngIf="attemptResult.passed" class="row justify-content-center conclusion">Congratulations, you've successfully passed the
    test.</h2>
  <h2 *ngIf="!attemptResult.passed" class="row justify-content-center conclusion">You’re almost there… Try it again!</h2>

  <div *ngIf="attemptResult.topicsToRepeat.length > 0">
    <h3 class="row justify-content-center">Topics to learn</h3>
    <div class="row justify-content-center">
      <ol>
        <li *ngFor="let topic of attemptResult.topicsToRepeat">
          <a target="_blank" href='http://semantic-portal.net/{{topic.domainUrl}}'>{{topic.domainName}}</a>
        </li>
      </ol>
    </div>
  </div>
</div>
