:host {
    display: flex;
    justify-content: center;
    height: 100%;
  align-items: center;
  background: linear-gradient(130deg, #1f91f9, #2cfdc0bf);
}

.login-form{
  height: min-content;
  margin-top: -175px;
  background: #6565651c;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

.mat-form-field-appearance-legacy .mat-form-field-label{
  color: white !important;
}

mat-form-field{
  input{
    color: white;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}



//input:-webkit-autofill,
//input:-webkit-autofill:hover,
//input:-webkit-autofill:focus,
//input:-webkit-autofill:active  {
//  -webkit-box-shadow: 0 0 0 30px black inset !important;
//}
//
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}



mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button {
    display: flex;
    justify-content: flex-end;
}
