<mat-card style="background: linear-gradient(130deg, #1f91f9, #2cfdc0bf)">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form>
      <p>
        <mat-form-field>
          <input  style="background: linear-gradient(130deg, #1f91f9, #2cfdc0bf)"
                  matInput
                  placeholder="Username" [(ngModel)]="username" name="username" required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input style="background: linear-gradient(130deg, #1f91f9, #2cfdc0bf)"
                 matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" (click)="checkLogin()" mat-button>Login</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
